<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary" translucent="true">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="quests">
      <ion-icon name="medal-outline"></ion-icon>
      Quests
    </ion-tab-button>
    <ion-tab-button tab="rules">
      <ion-icon name="receipt-outline"></ion-icon>
      Rules
    </ion-tab-button>
    <ion-tab-button tab="shop">
      <ion-icon name="diamond-outline"></ion-icon>
      Shop
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>