<ion-card class="player-stats-card" color="primary">
  <ion-item color="tertiary">
    <ion-avatar aria-hidden="true" slot="start">
      <img alt=""
        src="https://static.vecteezy.com/system/resources/previews/060/126/977/non_2x/pixel-art-male-character-portrait-with-brown-hair-and-blue-hoodie-facing-forward-vector.jpg" />
    </ion-avatar>
    <ion-label>Noob Knight</ion-label>
  </ion-item>
  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row class="ion-align-items-center" class="progress-bar-row">
        <ion-col size="1" class="ion-align-items-center">
          <i class="fa-solid fa-brain fa-xl"></i>
        </ion-col>
        <ion-col>
          <ion-progress-bar value="0.6" color="success">
          </ion-progress-bar>
          <div class="xp-text">
            Level 3 — 240 / 500 XP
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-margin-vertical" class="progress-bar-row" id="add-top-bottom-margin">
        <ion-col size="1">
          <i class="fa-solid fa-dumbbell fa-xl"></i>
        </ion-col>
        <ion-col>
          <ion-progress-bar value="0.3" color="warning">
          </ion-progress-bar>
          <div class="xp-text">
            Level 3 — 240 / 500 XP
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center" class="progress-bar-row">
        <ion-col size="1">
          <i class="fa-solid fa-bullseye fa-xl"></i>
        </ion-col>
        <ion-col>
          <ion-progress-bar value="0.8" color="danger">
          </ion-progress-bar>
          <div class="xp-text">
            Level 3 — 240 / 500 XP
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>