// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/


:root {

  /** Primary **/
  --ion-color-primary: #5A9CB5;
  /** Secondary **/
  --ion-color-secondary: #FACE68;
  /** Tertiary **/
  --ion-color-tertiary: #FAAC68;
  --ion-color-fourt: #FA6868; 
  /* Some cool and funky colors 
  91C6BC
  4B9DA9
  547792
  213448
  94B4C1
  */
  
}